*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "main"
      "footer";
  }

/* Header-bild */
.hero {
    display: flex;
    height: 100vh;
    background-image: url(./images/header_vp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    scroll-snap-type: y mandatory;
}

.container{
    position: absolute;
    margin: 20px;
    width: auto;
}

/* Kod för hamburgermeny */
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* Gömmer länkarna i hamburgaren */
.topnav #myLinks{
    display: none;
    margin: 29px 0 0 0;
    
}

/* Stylar navigations-länkarna */
.topnav a {
    color: black;
    background-color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.topnav a.icon{
    background-attachment: white;
    display: block;
    position: fixed;
    top: 0;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.active{
    background-color: white;
    color: black;
}

 #menu-icon{
    align-self: right;
 }

 /* Grundstruktur för main-segment */
 main{
    grid-area: main;
 }

.flex-container{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 4px;
    scroll-snap-type: y mandatory;
}

.fbox-movies{
    flex: 50%;
    width: 50%;
    padding: 10px 4px;
    text-align: center;
    scroll-snap-align: center;
}

.fbox-movies > a > img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 90%;
}

.fbox-movies > a > img:hover{
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    filter: sepia(0.6) opacity(0.6);
}

.movietext{
    position: absolute;
}

.fbox-contact-img{
    flex: 50%;
    width: 50%;
    padding: 15px 4px;
    text-align: center;
}

.fbox-contact{
    flex: 50%;
    width: 50%;
    padding: 15px 4px;
    text-align: left;
}

.fbox-movieinfo{
    flex: 50%;
    width: 50%;
    padding: 15px 4px;
    text-align: left;
}

.fbox-contact > h2{
    font-size: 50px;
    margin: 0;
}

.fbox-contact > form{
    font-size: 20px;
}

.plot{
    font-style: italic;
    font-size: 18px;
}

input[type=text] {
    height: 26px;
    border: 2px dotted black;
    border-radius: 4px;
  }

textarea{
    border: 2px dotted black;
    border-radius: 4px;
}

/* Styling för submit-knapp på contact-sidan */

button {
    overflow: visible;
    border: 0;
    padding: 0;
    margin: 1.8rem;
  }
  .btn.striped-shadow span {
    display: block;
    position: relative;
    z-index: 2;
    border: 5px solid;
  }

  .btn.striped-shadow.dark span {
    border-color: #393939;
    background: #ffffff;
    color: #393939;
  }
  
  .btn {
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    height: 80px;
    line-height: 65px;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.35rem;
    transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
    transition: opacity .3s, z-index .3s step-end, transform .3s;
    transition: opacity .3s,
      z-index .3s step-end,
      transform .3s,
      -webkit-transform .3s;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
  }
  
  .btn {
    width: 155px;
    height: 48px;
    line-height: 38px;
  }

  button.btn.striped-shadow.dark:after, button.btn.striped-shadow.dark:before {
    background-image: linear-gradient(
      135deg,
      transparent 0,
      transparent 5px,
      #393939 5px,
      #393939 10px,
      transparent 10px
    );
  }
  
  button.btn.striped-shadow:hover:before {
    max-height: calc(100% - 10px);
  }
  
  button.btn.striped-shadow:after {
    width: calc(100% - 4px);
    height: 8px;
    left: -10px;
    bottom: -9px;
    background-size: 15px 8px;
    background-repeat: repeat-x;
  }
  button.btn.striped-shadow:after, button.btn.striped-shadow:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    transition: max-height .3s, width .3s, -webkit-transform .3s;
    transition: transform .3s, max-height .3s, width .3s;
    transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
  }
  
  .btn.striped-shadow:hover {
    -webkit-transform: translate(-12px, 12px);
    -ms-transform: translate(-12px, 12px);
    transform: translate(-12px, 12px);
    z-index: 3;
  }
  
  button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
    -webkit-transform: translate(12px, -12px);
    -ms-transform: translate(12px, -12px);
    transform: translate(12px, -12px);
  }
  button.btn.striped-shadow:before {
    width: 8px;
    max-height: calc(100% - 5px);
    height: 100%;
    left: -12px;
    bottom: -5px;
    background-size: 8px 15px;
    background-repeat: repeat-y;
    background-position: 0 100%;
  }

/* Footer */
footer{
    grid-area: footer;
    padding: 25px 25px 5px;
}

footer > hr{
    border-top: 2px dotted grey;
}
/* Styling footert-text */
footer > p{
    text-align: end;
    margin: 0;
    font-size: 2vh;
}

footer > p#hola{
    text-align: start;
    padding: 0px 0px 2px;
    font-size: 15px;
}

/* Styling soc. medier-knappar */
footer > a > img{
    width: 5vw;
    height: auto;
    margin: 5px;
}

/* Regel för att få filminfon att lägga sig under trailern vid mindre skärm */
@media (max-width: 1130px){
.fbox-movieinfo{
    flex: 100%;
    width: 100vw;
    text-align: center;
}

.fbox-movieinfo > iframe{
    width: 80vw;
}
}

/* Tablet */
@media (max-width: 768px){
    .fbox-movies > a > img {
        max-width: 350px;
     } 
}
/* Smart phone */
@media (max-width: 700px){
    .flex-container{
        flex-flow: column wrap;
        justify-content: center;
    }
    .fbox-movies{
        flex: 100%;
    }
}